<!DOCTYPE html>
{% extends 'level05/base.html' %}
    {% block data_block %}
        <div class="jumbotron">
            {% if registered %}
                <h1>Than you for registering!</h1>
            {% else %}
                <h1> Register Here!</h1>
                <h3> Fill out the form here:</h3>
                <form  enctype="multipart/form-data" name="register" method="POST"">
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" value="Register">Register</button>
                </form>
            {% endif %}
        </div>
    {% endblock %}